@import url("style/header.css");

*{ /*seletor universal para resetar as bordas da página*/
    padding:0px;
    margin: 0px;
}

:root {/* seletor raiz para variáveis*/
    --cor-de-fundo: rgb(255, 255, 255);
    --cor-da-letra: rgb(0, 0, 0);
}

body{/*seletor Body*/
    background-color: var(--cor-de-fundo);
}