@import url("style/header.css");

*{/*seletor uneversal paa resetar as bordas da pagina*/
    padding: 0px;
    margin: 0px;
}
:root{
    --cor-de-fundo:rgba(9, 252, 171, 0.521);
    --cor-da-letra:rgb(0, 0, 0)(255, 0, 0);
}
body{
    background-color: var(--cor-de-fundo) ;

}
