.cabecalho{
    background-color: rgb(255, 255, 255);
}
.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: url("..img/Menu.svg");
    background-repeat: ;
}